<h1><center>Hello World!</center></h1> 
<h2>from</h2> 

<h2>instance: <%=instance%> running on DEA port: <%=port%></h2>
 
<% if !sendgrid.empty? %>
    <h2> Yes, we CAN send email :) </h2>
    host: <%=sendgrid["hostname"]%> </br>
    username: <%=sendgrid["username"]%> </br>
    password: <%=sendgrid["password"]%> </br>

    <br>
    <form action="/send_email" method="post">
        From:
        <input type="text" name="from"> 
        <br><br>
         To:
        <input type="text" name="to"> 
        <br><br>
       Subject:
        <input type="text" name="subject" value="hello world"> 
        <br><br>
        Body:
        <textarea cols="25" rows="10" name="body"><%= "Greetings from instance #{instance} of '#{app}' app running on Cloud Foundry PWS!"%> </textarea>
        <br><br>
        <input type="submit" value="Send the Email">
    </form>
<%else %>
    <h2> Can't send mail :( </h2>
<% end %>
<p><a href="/systemcrash">Kill this instance</a></p>



